# Environment variables
.env
.env.*
*.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Node modules (nếu web-react dùng NodeJS)
node_modules/
